* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1440px;
  margin: auto;
  background-color: #f7f7f7;
}

.header {
  width: 1440px;
  margin: auto;
}
.header-banner {
  width: 100%;
  height: 323px;
  border-radius: 10px;
  background-color: #93FF82;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
}
.header-banner > span {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}

.nav {
  width: 1408px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.nav-line-1 {
  width: 100%;
  padding: 12px 24px;
  background-color: #000000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3.5fr 4.36fr 1fr 1.37fr;
}
.nav-line-1 > img {
  align-self: center;
}
.nav-line-1 #search-panel {
  width: 580px;
  height: 48px;
  padding: 15px 56px 15px 15px;
  background-color: #302C2C;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 0;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: initial;
  line-height: 18px;
  color: #ffffff;
}
.nav-line-1 .select {
  position: relative;
  justify-self: end;
  align-self: center;
  padding-left: 27px;
  background-color: transparent;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  cursor: pointer;
}
.nav-line-1 .select-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
}
.nav-line-1 .select-options {
  width: 100%;
  margin-left: 14px;
  display: none;
  position: absolute;
  left: 0;
  background-color: #302C2C;
  border-radius: 10px;
}
.nav-line-1 .select-options > a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  color: #ffffff;
}
.nav-line-1 .select-options > a:hover {
  text-decoration: underline;
}
.nav-line-1 .select:hover > .select-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.nav-line-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.nav-line-2 .requests {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.nav-line-2 .requests > div {
  width: max-content;
  padding: 10px 19px;
  border: 2px solid #808080;
  border-radius: 8px;
}
.nav-line-2 .requests > div > a {
  text-decoration: none;
  font-size: 20px;
  font-weight: initial;
  line-height: 120%;
  color: #808080;
}
.nav-line-2 .requests > div:first-of-type {
  padding: 12px 20.5px;
  border: 0;
  background-color: #000000;
}
.nav-line-2 .requests > div:first-of-type > a {
  color: #ffffff;
}
.nav-line-2 .change-theme-color {
  width: 84px;
  height: 48px;
  padding: 4px;
  border-radius: 32px;
  background-color: #000000;
  background-image: url(../images/dark-theme-icon.svg), url(../images/light-theme-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center, left 12px center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}
.nav-line-2 .change-theme-color .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}
.nav-line-2 #theme-color {
  display: none;
}
.nav-line-2 #theme-color:checked + .change-theme-color > .circle {
  transform: translate(36px);
}

.main {
  width: 1440px;
  background-color: lightblue;
}

.first-section {
  width: 1408px;
  margin: 0 auto 54px auto;
  display: grid;
  grid-template-columns: auto 61.1% 32.75%;
  grid-template-rows: repeat(11, auto);
  gap: 16px;
  grid-template-areas: "soc header ." "soc date ." "soc img-1 news" "soc sometext-1 news" "soc sometext-1 banner" "soc gallery banner" "soc sometext-2 banner" "soc someheader-1 someheader-1" "soc sometext-3 ." "soc img-2 someheader-2" "soc review ." "soc sometext-4 bug";
}
.first-section-soc {
  grid-area: soc;
}
.first-section-soc > .sticky {
  position: sticky;
  top: 50px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 19px;
}
.first-section-soc > .sticky > p {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-transform: uppercase;
}
.first-section-header {
  grid-area: header;
  font-size: 48px;
  font-weight: 800;
  line-height: 110%;
  color: #000000;
}
.first-section-date {
  grid-area: date;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.first-section-date > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #808080;
}
.first-section-date > p:nth-of-type(2) {
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.first-section-date > p:nth-of-type(2) > img {
  filter: invert(1);
}
.first-section-img-1 {
  grid-area: img-1;
  width: 100%;
  height: 482px;
  margin-bottom: 9px;
  background-color: #e3e3e3;
  border-radius: 10px;
}
.first-section-news {
  grid-area: news;
  align-self: baseline;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 10px;
}
.first-section-news > img {
  border-radius: 12px;
}
.first-section-news-header {
  margin: 13px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  color: #000000;
}
.first-section-news-anyblock {
  display: grid;
  padding: 16px 0 15px 0;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  border-top: 1px solid #e3e3e3;
}
.first-section-news-anyblock > a {
  width: 92px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  background-color: #93FF82;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}
.first-section-news-anyblock > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #000000;
}
.first-section-news-anyblock > img {
  grid-area: 1/2/3/3;
  border-radius: 16px;
}
.first-section-sometext-1 {
  grid-area: sometext-1;
  width: 95.34%;
  margin-bottom: 24px;
  display: inline-block;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 40px;
}
.first-section-sometext-1 > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 123%;
  color: #000000;
}
.first-section-sometext-1 > p:first-of-type {
  display: inline-block;
  width: 84%;
}
.first-section-sometext-1 > p:nth-of-type(2) {
  font-style: italic;
  padding: 16px 40px 16px 24px;
  background-color: #f0f0f0;
  border-radius: 10px;
  line-height: 140%;
}
.first-section-sometext-1 > p:last-of-type {
  display: inline-block;
  width: 83%;
  margin-right: 8px;
  line-height: 138%;
}
.first-section-banner {
  grid-area: banner;
  margin-top: -27px;
  height: 920px;
  background-color: #93FF82;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
}
.first-section-banner > span {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}
.first-section-gallery {
  grid-area: gallery;
  height: 494px;
  margin-bottom: 24px;
  background-color: red;
  border-radius: 10px;
}
.first-section-someheader-1 {
  grid-area: someheader-1;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #9c9cff;
  border-radius: 10px;
  font-size: 42px;
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
}
.first-section-sometext-2 {
  grid-area: sometext-2;
  width: 79%;
  margin-bottom: 21px;
  margin-right: 10px;
  display: inline-block;
  justify-self: end;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #000000;
}
.first-section-sometext-3 {
  grid-area: sometext-3;
  width: 80%;
  margin-bottom: 21px;
  display: inline-block;
  justify-self: end;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #000000;
}
.first-section-img-2 {
  grid-area: img-2;
  height: 486px;
  margin-bottom: 25px;
  background-color: #e3e3e3;
  border-radius: 10px;
}
.first-section-someheader-2 {
  grid-area: someheader-2;
  align-self: flex-start;
  padding: 16px 16px 14px 16px;
  background-color: #9c9cff;
  border-radius: 10px;
  font-size: 42px;
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
}
.first-section-review {
  grid-area: review;
  margin-bottom: 24px;
  padding: 16px 16px 32px 16px;
  background-color: #000000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 16px;
  row-gap: 6px;
}
.first-section-review-header {
  grid-area: 1/1/2/3;
  padding-bottom: 5px;
  margin-bottom: 19px;
  border-bottom: 1px solid #ffffff;
  font-size: 24px;
  font-weight: 800;
  line-height: 110%;
  color: #ffffff;
}
.first-section-review-img {
  grid-area: 2/1/4/2;
  align-self: center;
  width: 96px;
  height: 96px;
  background-color: #93FF82;
  border-radius: 100px;
}
.first-section-review-name {
  font-size: 24px;
  font-weight: 800;
  line-height: 110%;
  color: #9c9cff;
}
.first-section-review-text {
  width: 91%;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
}
.first-section-sometext-4 {
  grid-area: sometext-4;
  width: 80%;
  display: inline-block;
  justify-self: end;
  font-size: 18px;
  font-weight: 500;
  line-height: 139%;
  color: #000000;
}
.first-section-bug {
  grid-area: bug;
  align-self: flex-end;
  padding: 12px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  color: #000000;
}
.first-section-bug > span {
  padding: 0 3px;
  background-color: #9c9cff;
  border-radius: 6px;
  color: #ffffff;
}

.second-section {
  width: 1408px;
  margin: 0 auto 40px auto;
}
.second-section-tags {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.second-section-tags > a {
  text-decoration: none;
  text-align: center;
  justify-self: stretch;
  padding: 11px 0;
  background-color: #ffffff;
  border: 2px solid #808080;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
  color: #808080;
}

.third-section {
  width: 1408px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.03fr 1fr;
  grid-template-rows: repeat(3, max-content);
  gap: 16px;
}
.third-section-header {
  grid-area: 1/1/2/3;
  font-size: 24px;
  font-weight: 800;
  line-height: 110%;
  color: #000000;
}
.third-section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.third-section-main-anyblock {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 0;
}
.third-section-main-anyblock-content {
  width: 49.36%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 10px;
}
.third-section-main-anyblock-content-header {
  width: 91.6%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 36px;
  font-weight: 800;
  line-height: 110%;
  color: #000000;
}
.third-section-main-anyblock-content-text {
  margin: 50px 0 17px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #000000;
  letter-spacing: -0.019em;
}
.third-section-main-anyblock-content-datetext {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  gap: 0;
  filter: invert(1);
}
.third-section-main-anyblock-img {
  width: 50.65%;
  height: 360px;
  background-color: #FFC7F3;
  border-radius: 10px;
}
.third-section-advertisement {
  width: 460px;
  height: 920px;
  background-color: #93FF82;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
}
.third-section-advertisement > span {
  font-size: 25px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}
.third-section .more-result {
  width: 100%;
  grid-area: 3/1/4/3;
  margin: 6px auto 26px auto;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.third-section .more-result > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 52px 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
}

.footer {
  width: 1408px;
  margin: auto;
}

.mailing-content {
  width: 100%;
  margin-bottom: 16px;
}
.mailing-content-header {
  width: 100%;
  background-color: #FFC7F3;
  border-radius: 10px;
  padding: 48px 0 46px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.mailing-content-header-text {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  line-height: 102%;
  color: #000000;
}
.mailing-content-form {
  width: 100%;
  padding: 24px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.mailing-content-form > input {
  width: 60%;
  height: 140px;
  padding: 0 32px;
  background-color: #272727;
  border: 0;
  border-radius: 10px;
  outline: none;
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  color: #BEBEBE;
}
.mailing-content-form > button {
  width: 38.236%;
  height: 140px;
  background-color: #EA2E34;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
}

.info-content {
  width: 100%;
  display: grid;
  grid-template-areas: "rc-11 rc-12 rc-12 rc-12" "rc-21 rc-21 rc-23 rc-24";
  grid-template-columns: 3.11fr 3.08fr 1fr 2fr;
  gap: 16px;
}
.info-content-tagline {
  grid-area: rc-11;
  padding: 24px;
  background-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 138px;
}
.info-content-tagline > img {
  width: 60%;
}
.info-content-tagline > p {
  padding-right: 20px;
  font-size: 36px;
  font-weight: 800;
  line-height: 110%;
  color: #ffffff;
}
.info-content-anytext {
  grid-area: rc-12;
  padding: 16px;
  background-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.info-content-anytext > h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 110%;
  color: #ffffff;
}
.info-content-anytext > button {
  width: 320px;
  height: 48px;
  background-color: #FFCB45;
  border: 0;
  border-radius: 10px;
  justify-self: end;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  line-height: 110%;
  color: #000000;
}
.info-content-anytext > h2 {
  align-self: flex-end;
  font-size: 36px;
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
}
.info-content-anytext > h2:last-of-type {
  justify-self: end;
}
.info-content-feedback {
  grid-area: rc-21;
  padding: 16px;
  background-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 121px;
}
.info-content-feedback > h3 {
  width: 45%;
  font-size: 36px;
  font-weight: 800;
  line-height: 110%;
  color: #ffffff;
}
.info-content-feedback > a {
  width: 320px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  align-self: flex-end;
  font-size: 18px;
  font-weight: 800;
  line-height: 110%;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.info-content-agreement {
  grid-area: rc-23;
  background-color: #000000;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 28px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.info-content-soc {
  grid-area: rc-24;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
.info-content-soc > img {
  position: absolute;
  cursor: pointer;
}
.info-content-soc > img:nth-of-type(1) {
  top: 25px;
  left: 45px;
}
.info-content-soc > img:nth-of-type(2) {
  top: 60px;
  right: 42px;
}
.info-content-soc > img:nth-of-type(3) {
  top: 140px;
  left: 65px;
}
.info-content-soc > img:nth-of-type(4) {
  right: 63px;
  bottom: 123px;
}
.info-content-soc > img:nth-of-type(5) {
  left: 92px;
  bottom: 23px;
}

.big-footer-logo {
  margin-top: 60px;
}
.big-footer-logo > img {
  width: 100%;
}