* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


// Global variables
$global-width: 1440px;
$side-indent: 32px;
$main-width: $global-width - $side-indent;

$bg-color-banner: #93FF82;
$color-white: #ffffff;
$color-black: #000000;


// mixin
@mixin text-style ($font-size, $font-weight, $line-height, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin flex-properties ($direction, $align-items, $justify-content, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
}


// Container
.container {
    width: $global-width;
    margin: auto;
    // background-color: #f7f7f7;
    background-color: brown;

    &-banner {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        background-color: $bg-color-banner;
        text-align: center;
        @include flex-properties(row, center, center, 0);
        @include text-style(48px, 500, 58px, $color-black);
    }
}


// HEADER/NAV
.header {
    width: $main-width;
    margin: auto;
}

.nav {
    width: 100%;    
    margin: 32px 0;
    @include flex-properties(column, center, center, 16px);    
}

.nav-line-1 {
    width: 100%;
    padding: 12px 24px;
    background-color: $color-black;
    border-radius: 10px;
    @include flex-properties(row, center, space-between, 0);

    & #search-panel {
        width: 580px;
        height: 48px;
        padding: 15px 56px 15px 15px;
        background-color: #302C2C;
        background-image: url(../images/search-icon.svg);
        background-repeat: no-repeat;
        background-position: right 18px center;
        border: 0;
        border-radius: 10px;
        outline: none;     
        @include text-style(18px, initial, 18px, $color-white);   
    }
}

.nav-line-2 {
    width: 100%;
    @include flex-properties(row, center, space-between, 0);

    & .requests {
        @include flex-properties(row, center, flex-start, 16px);
        & > div {
            width: max-content;
            padding: 12px 20px;
            border: 2px solid #808080;
            border-radius: 8px;
    
            & > a {
                text-decoration: none;
                @include text-style(20px, initial, 120%, #808080);  
            }
        }

        & > div:first-of-type {
            border: 0;
            background-color: $color-black;

            & > a {
                color: $color-white;
            }
        }
    }
    
    & .change-theme-color {
        width: 84px;
        height: 48px;
        padding: 4px;
        border-radius: 32px;
        background-color: $color-black;
        background-image: url(../images/dark-theme-icon.svg), url(../images/light-theme-icon.svg);
        background-repeat: no-repeat;
        background-position: right 12px center, left 12px center;
        @include flex-properties(row, center, flex-start, 0);
        
        & .circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            transition: 0.3s;
        }
    }

    & #theme-color {
        display: none;

        &:checked + .change-theme-color > .circle {
            transform: translate(36px);
        }
    }
}


// MAIN. SECTION #1
.main {
    width: $main-width;
    margin: auto;    
} 

.first-section {
    width: 100%;
    margin-bottom: 32px;
    @include flex-properties(row, stretch, space-between, 0);    
}

.first-section-left {
    width: 22.75%;
    padding: 12px 12px 14px 12px;
    background-color: $color-white;
    border-radius: 10px;

    &-img {
        width: 100%;
        height: 182px;
        background-color: #E3E3E3;
        border-radius: 10px;
    }

    &-header {
        margin: 4px 0 12px 0;
        @include text-style(18px, 800, 110%, $color-black);
    }

    &-text {
        @include flex-properties(column, center, center, 8px);

        & > div {
            width: 100%;
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: repeat(2, min-content);
            column-gap: 16px;
            
            & > div {
                grid-area: 1/1/3/2;
                width: 72px;
                height: 72px;
                background-color: #E3E3E3;
                border-radius: 10px;
            }

            & > a {
                width: 98px;
                height: 25px;
                border: 1px solid #000000;
                border-radius: 8px;
                background-color: #93FF82;
                text-decoration: none;
                @include text-style(14px, 500, 120%, $color-black);
                @include flex-properties(row, center, center, 0);
            }            
        }
    }
}

.first-section-middle {
    width: 52.3%;
    padding: 16px;
    background-color: $color-white;
    border-radius: 10px;

    &-img {
        width: 100%;
        height: 364px;
        background-color: #9C9CFF;
        border-radius: 10px;        
    }

    &-header {
        width: 90%;
        margin-top: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include text-style(36px, 800, 110%, $color-black);
    }
}

.first-section-right {
    width: 22.75%;
    padding: 12px 8px 0 16px;
    background-color: $color-white;
    border-radius: 10px;
    @include flex-properties(column, flex-start, flex-start, 0);
    height: 496px;    

    &-header {
        margin-bottom: 12px;
        @include text-style(16px, 700, 120%, $color-black);
    }

    &-text {  
        overflow-y: scroll;
        
        & > p {
            margin-bottom: 32px;
            padding-top: 12px;
            margin-right: 8px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            border-top: 1px solid #E3E3E3;
            
            & > a {
                text-decoration: none;
                @include text-style(18px, 600, 120%, $color-black);
                
                & > span {
                    color: #777777;
                }
            }
        }


        &::-webkit-scrollbar {
            width: 4px;
            height: 100%;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            height: 50px;
            border-radius: 40px;
            background-color: #9C9CFF;
        }  

        
    }  
}


// MAIN. SECTION #2
.second-section {
    width: $main-width;
    margin: 0 auto 24px auto;
    @include flex-properties(row, center, space-between, 0);

    &-anyblock {
        width: 32.67%;

        &-img {
            width: 100%;
            height: 360px;
            background-color: #EA2E34;
            border-radius: 10px;
        }

        &-content {
            padding: 16px;
            background-color: #000000;
            border-radius: 10px;

            &-header {
                width: 86%;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @include text-style(36px, 800, 110%, #ffffff);
            }

            &-text {
                width: 88%;
                margin: 48px 0 16px 0;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @include text-style(18px, 500, 120%, #ffffff);
                letter-spacing: -0.019em;
            }

            &-datetext {
                @include text-style(12px, 400, 140%, #E3E3E3);
                @include flex-properties(row, center, initial, 0);
            }
        }
    }
    
}